[submodule "receiver/vendor/implot"]
	path = receiver/vendor/implot
	url = https://github.com/epezent/implot.git
[submodule "receiver/vendor/imgui"]
	path = receiver/vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "receiver/vendor/librtlsdr"]
	path = receiver/vendor/librtlsdr
	url = https://github.com/williamyang98/librtlsdr_cmake.git
